*{
   padding: 0;
   margin: 0;
   font-family: 'poppins', sans-serif;
}
body{
   background-color: black;
    
    display: grid;
   height: 100vh;
   place-items: center;
background-image:url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjg4MC1rdWwtMTctYS5qcGc.jpg');

}
.main{
   width: 400px;
   height: 450px;
   background-color: black ;
   
   position: absolute;
   border: 5px #E2D0ED;
   border-radius: 6px; 
}
.main input[type='text'] {
   width: 88%;
   position: relative;
   height: 80px;
   top: 5px;
   text-align: right;
   padding: 3px 6px;
   outline: none;
   font-size: 40px;
   border: 1px solid black;
   display: flex;
   margin: auto;
   border-radius: 6px;
   color: #BE78E1 ;
   background-color:black;

}





.btn input[type='button']{
   width:90px;
   padding: 3px;
   margin: 2px 0px;
   position: relative;
   left: 13px;
   top: 20px;
   height: 60px;
   cursor: pointer;
   font-size: 18px;
   transition: 0.5s;
   background-color: #6F0533;
  
   border-radius: 6px;
   color: #BE78E1;
}

.btn input[type='button']:hover{
   background-color: white;
   color: white;
}